In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
746,tt1478338,32500000,288383523,Bridesmaids,Kristen Wiig|Rose Byrne|Maya Rudolph|Wendi McL...,Paul Feig,Save the date,Annieâ€™s life is a mess. But when she finds o...,125,Romance|Comedy,Universal Pictures|Relativity Media|Apatow Pro...,4/28/2011,6.5,2011
1037,tt1758830,35000000,88058786,This Is 40,Paul Rudd|Leslie Mann|Jason Segel|Maude Apatow...,Judd Apatow,The sort-of sequel to 'Knocked Up',"Pete and Debbie are both about to turn 40, the...",134,Comedy,Apatow Productions,12/20/2012,5.5,2012
300,tt1155056,41000000,91636986,"I Love You, Man",Paul Rudd|Rashida Jones|Jason Segel|Sarah Burn...,John Hamburg,Are You Man Enough To Say It?,Peter Klaven is a successful real estate agent...,105,Comedy,DreamWorks SKG|The Montecito Picture Company|D...,3/20/2009,6.4,2009
619,tt0985699,75000000,200276000,Valkyrie,Tom Cruise|Carice van Houten|Kenneth Branagh|B...,Bryan Singer,Many saw evil. They dared to stop it.,"Wounded in Africa during World War II, Nazi Co...",121,Drama|Thriller|History|War,United Artists|Achte Babelsberg Film|Metro-Gol...,12/25/2008,6.6,2008
1215,tt1691917,50000000,219788712,Planes,Dane Cook|Carlos Alazraqui|Val Kilmer|Julia Lo...,Klay Hall,From above the world of Cars,Dusty is a cropdusting plane who dreams of com...,91,Animation|Family|Adventure|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,8/9/2013,5.7,2013

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 140.3+ KB

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data = pd.read_csv('movie_bd_v5.csv')

data['profit'] = data['revenue']-data['budget']
# тут другие ваши предобработки колонок например:

'''Добавляем функцию разделителя для данных в ячейках, где есть разделитель "|",
после чего применяем функцию на некоторые колонки'''
def separator(item):
    item = item.split('|')
    return item

for values in ['genres', 'cast', 'production_companies']:
    data[values] = data[values].apply(lambda x: separator(x))

def season(item):
    item = int(str(item)[:item.find('/')])
    return item

'''Добавляем дополнительные колонки, необходимые для ответов на вопросы,
связанные с датой выходов фильмов, а также с длиной названий и описаний'''
data['release_date'] = data['release_date'].apply(lambda x: season(x))

data = data.rename(columns = {'release_date':'release_month'})
data['overview_length'] = data['overview'].apply(lambda x: len((str(x).split())))
data['title_length'] = data['original_title'].apply(lambda x: len(x))


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
data_1 = data.loc[data['budget'] == data['budget'].max()]
answers['1'] = str(data_1['original_title'].values[0]+' ('+data_1['imdb_id'].values[0]+')')
# если ответили верно, можете добавить комментарий со значком "+"

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
data_2 = data.loc[data['runtime'] == data['runtime'].max()]
answers['2'] = str(data_2['original_title'].values[0]+' ('+data_2['imdb_id'].values[0]+')')

# 3. Какой из фильмов самый короткий (в минутах)?

In [7]:
data_3 = data.loc[data['runtime'] == data['runtime'].min()]
answers['3'] = str(data_3['original_title'].values[0]+' ('+data_3['imdb_id'].values[0]+')')

# 4. Какова средняя длительность фильмов?

In [8]:
answers['4'] = data['runtime'].mean()

# 5. Каково медианное значение длительности фильмов?

In [9]:
answers['5'] = data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [10]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_6 = data.loc[data['profit'] == data['profit'].max()]

answers['6'] = str(data_6['original_title'].values[0]+' ('+data_6['imdb_id'].values[0]+')')

# 7. Какой фильм самый убыточный?

In [11]:
data_7 = data.loc[data['profit'] == data['profit'].min()]

answers['7'] = str(data_7['original_title'].values[0]+' ('+data_7['imdb_id'].values[0]+')')

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [12]:
answers['8'] = len(data.loc[data['profit']>0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [13]:
data_9 = data.loc[data['release_year'] == 2008]
data_9 = data_9.loc[data_9['profit'] == data_9['profit'].max()]

answers['9'] = str(data_9['original_title'].values[0]+' ('+data_7['imdb_id'].values[0]+')')

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [14]:
data_10 = data.loc[(data['release_year']>=2012)&data['release_year']<=2014]
data_10 = data_10.loc[data_10['profit'] == data_10['profit'].min()]

answers['10'] = str(data_10['original_title'].values[0]+' ('+data_10['imdb_id'].values[0]+')')

# 11. Какого жанра фильмов больше всего?

In [15]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_list_11 = []

for item in data['genres']:
    for x in item:
        genres_list_11.append(x)

answers['11'] = max(set(genres_list_11), key = genres_list_11.count)

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [16]:
data_12 = data.loc[data['profit']>0]
genres_list_12 = []

for item in data_12['genres']:
    for x in item:
        genres_list_12.append(x)

answers['12'] = max(set(genres_list_12), key = genres_list_12.count)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [17]:
data_13 = data.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1)

answers['13'] = data_13.index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [18]:
data_14 = data.loc[:, ['genres', 'director']]
data_14['director'] = data_14['director'].str.split('|')
data_14 = data_14.explode('director', 'genres')
data_14 = data_14.explode('genres')
data_14 = data_14.loc[data_14['genres'] == 'Action']
data_14 = data_14['director'].value_counts()

answers['14'] = data_14.index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [19]:
data_15 = data[data['release_year'] == 2012]
data_15 = data_15.explode('cast')
data_15 = data_15.groupby('cast')['revenue'].sum().sort_values(ascending=False)

answers['15'] = data_15.index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [20]:
data_16 = data[data['budget']>data['budget'].mean()]
data_16 = data_16.explode('cast')
data_16 = data_16['cast'].value_counts()

answers['16'] = data_16.index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [21]:
data_17 = data
data_17 = data_17.explode('genres')
data_17 = data_17.explode('cast')
data_17 = data_17.loc[data_17['cast'] == 'Nicolas Cage']
data_17 = data_17['genres'].value_counts()

answers['17'] = str(data_17.index[0])

# 18. Самый убыточный фильм от Paramount Pictures

In [22]:
data_18 = data
data_18 = data_18.explode('production_companies')
data_18 = data_18.loc[(data_18['production_companies'] == 'Paramount Pictures')]
data_18 = data_18.loc[data_18['profit'] == data_18['profit'].min()]

answers['18'] = data_18['original_title'].values[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [23]:
data_19 = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

answers['19'] = data_19.index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [24]:
data_20 = data.explode('production_companies')
data_20 = data_20.loc[data_20['production_companies'].str.contains('Warner')]
data_20 = data_20.groupby('release_year')['profit'].sum().sort_values(ascending=False)

answers['20'] = data_20.index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [25]:
data_21 = data['release_month'].value_counts()
data_21_result = data_21.index[0]

months_rus = ['Январь', 'Февраль',
              'Март', 'Апрель', 'Май',
              'Июнь', 'Июль', 'Август',
              'Сентябрь', 'Октябрь', 'Ноябрь',
              'Декабрь']

answers['21'] = months_rus[int(data_21_result)-1]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [26]:
answers['22'] = len(data.loc[(data['release_month'] >= 6)&(data['release_month'] <= 8)])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [27]:
data_23 = data.loc[(data['release_month'] == 1)|(data['release_month'] == 2)|(data['release_month'] == 12)]
data_23 = data_23.groupby('director')['release_month'].sum().sort_values(ascending=False)

answers['23'] = data_23.index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [28]:
data_24 = data.explode('production_companies')
data_24 = data_24.groupby(data_24['production_companies'])['title_length'].mean().sort_values(ascending=False)

answers['24'] = data_24.index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [29]:
data_25 = data.explode('production_companies')
data_25 = data_25.groupby(data_25['production_companies'])['overview_length'].mean().sort_values(ascending=False)

answers['25'] = data_25.index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
data_26 = data.loc[data['vote_average']>=data['vote_average'].quantile(0.99)]
data_26 = data_26.sort_values(by='vote_average', ascending=False)

answers['26'] = data_26['original_title']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
'''Создаём датафрейм с двумя колонкам: названия и каст.
Добавляем колонку "количество ролей в базе данных"
Каст затем эксплоудим.
Сортируем каст по количеству фильмов в порядке уменьшения (что позволит отсекать больше строк при проверке)
и формируем список с этими данными.
Эти данные дальше будут фильтроваться.

Подход следующий:
1) берём первое имя в касте
2) берём следующее имя в касте
3) отфильтровываем датафрейм, оставляя только совместные работы в столбце с названиями фильмов
4) определяем максимальную частоту совместной работы (по количеству уникальных названий фильмов)
5) убираем из датафрейма всех актёров, которые снимались меньше, чем максимальная частота
6) убираем первое имя
6) повторяем'''

data_27 = data[['original_title', 'cast']].explode('cast')
data_27['frequency'] = data_27['cast'].map(data_27['cast'].value_counts())
data_27 = data_27.sort_values(by='frequency', ascending=False)
data_27_cast = [*data_27['cast'].unique()]
data_27_cast = [str(item) for item in data_27_cast]
max_pair = 0
max_pair_names = ()

for name_1 in data_27_cast:
    for name_2 in data_27_cast:
        if name_1 == name_2 or (name_1 in data_27['cast'] == False) or (name_2 in data_27['cast'] == False):
            continue
        else:
            data_27_working = data_27.loc[(data_27['cast'] == name_1)|(data_27['cast'] == name_2)]
            data_27_working = data_27_working[data_27_working.duplicated('original_title', keep=False)]
            result = data_27_working['original_title'].nunique()
            if max_pair < result:
                max_pair = result
                max_pair_names = (str(name_1), str(name_2))
                data_27 = data_27.loc[data_27['frequency'] > max_pair]
    data_27 = data_27.loc[data_27['cast'] != name_1]
    if len(data_27) == 0:
        break
                                      
answers['27'] = max_pair_names

ВАРИАНТ 2

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt1210819)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 599                                       The Dark Knight
 9                                              Inside Out
 34                                                   Room
 118                                          Interstellar
 125                                    The Imitation Game
 370                                             Inception
 1191                                     12 Years a Slave
 1183                              The Wolf of Wall Street
 1081        The Lord of the Rings: The Return of the King
 872                                           The Pianist
 1800                                              Memento
 119                               Guardians of the Galaxy
 138                              The Grand Budapest Hotel
 128                                             Gone Girl
 283                                            Mr. Nobody
 1688                                  There Will Be Blood
 1563                Eternal Sunshine of the Spotless Mind
 1444                                         The Prestige
 1213                                   Dallas Buyers Club
 1205                                            Prisoners
 124                                            Big Hero 6
 1188                                                  Her
 316                                              3 Idiots
 863                 The Lord of the Rings: The Two Towers
 155                              The Theory of Everything
 28                                              Spotlight
 177                                The Fault in Our Stars
 496     The Lord of the Rings: The Fellowship of the Ring
 Name: original_title, dtype: object,
 '27': ('Emma Watson', 'Daniel Radcliffe')}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

27