In [68]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [69]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1316,tt0401792,40000000,158733820,Sin City,Jessica Alba|Devon Aoki|Alexis Bledel|Powers B...,Robert Rodriguez|Frank Miller|Quentin Tarantino,Walk down the right back alley in Sin City and...,Welcome to Sin City. This town beckons to the ...,124,Action|Thriller|Crime,Dimension Films|Troublemaker Studios|Miramax,3/31/2005,7.1,2005
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,6.0,2009
185,tt2203939,40000000,196781193,The Other Woman,Cameron Diaz|Leslie Mann|Kate Upton|Don Johnso...,Nick Cassavetes,The oddest friends are about to get even,"After discovering her boyfriend is married, Ca...",109,Comedy|Romance,Twentieth Century Fox Film Corporation|LBI Pro...,4/16/2014,6.2,2014
613,tt0411477,85000000,160388063,Hellboy II: The Golden Army,Ron Perlman|Selma Blair|Jeffrey Tambor|Doug Jo...,Guillermo del Toro,Saving the world is a hell of a job.,In this continuation to the adventure of the d...,120,Adventure|Fantasy|Science Fiction,Universal Pictures|Dark Horse Entertainment|La...,7/11/2008,6.4,2008

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 140.3+ KB

# Предобработка

In [71]:
answers = {} # создадим словарь для ответов

data = pd.read_csv('movie_bd_v5.csv')

data['profit'] = data['revenue']-data['budget']
# тут другие ваши предобработки колонок например:

def separator(item):
    item = item.split('|')
    return item

for values in ['genres', 'cast', 'production_companies']:
    data[values] = data[values].apply(lambda x: separator(x))

def season(item):
    item = int(str(item)[:item.find('/')])
    return item

data['release_date'] = data['release_date'].apply(lambda x: season(x))

data = data.rename(columns = {'release_date':'release_month'})
data['overview_length'] = data['overview'].apply(lambda x: len((str(x).split())))
data['title_length'] = data['original_title'].apply(lambda x: len(x))

data


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_month,vote_average,release_year,profit,overview_length,title_length
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",6,6.5,2015,1363528810,26,14
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",5,7.1,2015,228436354,110,18
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]","[Summit Entertainment, Mandeville Films, Red W...",3,6.3,2015,185238201,22,9
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",12,7.5,2015,1868178225,26,28
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",4,7.3,2015,1316249360,14,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...",Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,"[Adventure, Action, Science Fiction]","[Twentieth Century Fox Film Corporation, Donne...",7,6.6,2000,82299717,27,5
1885,tt0192255,22000000,13555988,The Little Vampire,"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,"[Horror, Family, Foreign]",[New Line Cinema],10,6.4,2000,-8444012,75,18
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,"[Rene Russo, Jason Alexander, Piper Perabo, Ra...",Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,"[Adventure, Animation, Action, Comedy, Family]","[Universal Pictures, Capella International, KC...",6,4.0,2000,-40865180,58,36
1887,tt0162983,40000000,36037909,Hanging Up,"[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...",Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,"[Comedy, Drama]","[Laurence Mark Productions, Columbia Pictures ...",2,5.2,2000,-3962091,24,10
1888,tt0163676,15000000,5217498,The In Crowd,"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,[Thriller],[Warner Bros. Pictures],7,5.2,2000,-9782502,43,12

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [72]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
data_1 = data.loc[data['budget'] == data['budget'].max()]
answers['1'] = str(data_1['original_title'].values[0]+' ('+data_1['imdb_id'].values[0]+')')
# если ответили верно, можете добавить комментарий со значком "+"

In [73]:
data.loc[
    data['budget'] == data['budget'].max(),
    ['original_title']]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [74]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [75]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
data_2 = data.loc[data['runtime'] == data['runtime'].max()]
answers['2'] = str(data_2['original_title'].values[0]+' ('+data_2['imdb_id'].values[0]+')')

In [76]:
data.loc[data['runtime'] == data['runtime'].max(),['original_title']]['original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [77]:
data_3 = data.loc[data['runtime'] == data['runtime'].min()]
answers['3'] = str(data_3['original_title'].values[0]+' ('+data_3['imdb_id'].values[0]+')')

# 4. Какова средняя длительность фильмов?

In [78]:
answers['4'] = data['runtime'].mean()

# 5. Каково медианное значение длительности фильмов?

In [79]:
answers['5'] = data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [80]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_6 = data.loc[data['profit'] == data['profit'].max()]
answers['6'] = str(data_6['original_title'].values[0]+' ('+data_6['imdb_id'].values[0]+')')

# 7. Какой фильм самый убыточный?

In [81]:
data_7 = data.loc[data['profit'] == data['profit'].min()]
answers['7'] = str(data_7['original_title'].values[0]+' ('+data_7['imdb_id'].values[0]+')')

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [82]:
answers['8'] = len(data.loc[data['profit']>0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [83]:
data_9 = data.loc[data['release_year'] == 2008]
data_9 = data_9.loc[data_9['profit'] == data_9['profit'].max()]
answers['9'] = str(data_9['original_title'].values[0]+' ('+data_7['imdb_id'].values[0]+')')

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [84]:
data_10 = data.loc[(data['release_year']>=2012)&data['release_year']<=2014]
data_10 = data_10.loc[data_10['profit'] == data_10['profit'].min()]
answers['10'] = str(data_10['original_title'].values[0]+' ('+data_10['imdb_id'].values[0]+')')

# 11. Какого жанра фильмов больше всего?

In [85]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_list_11 = []

for item in data['genres']:
    for x in item:
        genres_list_11.append(x)

answers['11'] = max(set(genres_list_11), key = genres_list_11.count)

ВАРИАНТ 2

In [86]:
print(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': 'Gods and Generals (tt0279111)', '3': 'Winnie the Pooh (tt1449283)', '4': 109.6585494970884, '5': 107.0, '6': 'Avatar (tt0499549)', '7': 'The Lone Ranger (tt1210819)', '8': 1478, '9': 'The Dark Knight (tt1210819)', '10': 'The Lone Ranger (tt1210819)', '11': 'Drama'}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [87]:
data_12 = data.loc[data['profit']>0]
genres_list_12 = []

for item in data_12['genres']:
    for x in item:
        genres_list_12.append(x)

answers['12'] = max(set(genres_list_12), key = genres_list_12.count)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [88]:
data_13 = data.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1)
answers['13'] = data_13.index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [89]:
data_14 = data.loc[:, ['genres', 'director']]
data_14['director'] = data_14['director'].str.split('|')
data_14 = data_14.explode('director', 'genres')
data_14 = data_14.explode('genres')
data_14 = data_14.loc[data_14['genres'] == 'Action']
data_14 = data_14['director'].value_counts()

answers['14'] = data_14.index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [90]:
data_15 = data[data['release_year'] == 2012]
data_15 = data_15.explode('cast')
data_15 = data_15.groupby('cast')['revenue'].sum().sort_values(ascending=False)
answers['15'] = data_15.index[0]

display(answers['15'])

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [91]:
data_16 = data[data['budget']>data['budget'].mean()]
data_16 = data_16.explode('cast')
data_16 = data_16['cast'].value_counts()

answers['16'] = data_16.index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [92]:
data_17 = data
data_17 = data_17.explode('genres')
data_17 = data_17.explode('cast')
data_17 = data_17.loc[data_17['cast'] == 'Nicolas Cage']
data_17 = data_17['genres'].value_counts()

answers['17'] = str(data_17.index[0])

# 18. Самый убыточный фильм от Paramount Pictures

In [93]:
data_18 = data
data_18 = data_18.explode('production_companies')
data_18 = data_18.loc[(data_18['production_companies'] == 'Paramount Pictures')]
data_18 = data_18.loc[data_18['profit'] == data_18['profit'].min()]
answers['18'] = data_18['original_title'].values[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [94]:
data_19 = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)
answers['19'] = data_19.index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [95]:
data_20 = data.explode('production_companies')
data_20 = data_20.loc[data_20['production_companies'].str.contains('Warner')]
data_20 = data_20.groupby('release_year')['profit'].sum().sort_values(ascending=False)
answers['20'] = data_20.index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [96]:
data_21 = data['release_month'].value_counts()
data_21_result = data_21.index[0]

months_rus = ['Январь', 'Февраль',
              'Март', 'Апрель', 'Май',
              'Июнь', 'Июль', 'Август',
              'Сентябрь', 'Октябрь', 'Ноябрь',
              'Декабрь']
answers['21'] = months_rus[int(data_21_result)-1]
print(answers['21'])

Сентябрь

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [97]:
answers['22'] = len(data.loc[(data['release_month'] >= 6)&(data['release_month'] <= 8)])
print(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [98]:
data_23 = data.loc[(data['release_month'] == 1)|(data['release_month'] == 2)|(data['release_month'] == 12)]
data_23 = data_23.groupby('director')['release_month'].sum().sort_values(ascending=False)
answers['23'] = data_23.index[0]

print(answers['23'])

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [99]:
data_24 = data.explode('production_companies')
data_24 = data_24.groupby(data_24['production_companies'])['title_length'].mean().sort_values(ascending=False)

answers['24'] = data_24.index[0]

print(answers['24'])

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [100]:
data_25 = data.explode('production_companies')
data_25 = data_25.groupby(data_25['production_companies'])['overview_length'].mean().sort_values(ascending=False)
answers['25'] = data_25.index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [101]:
data_26 = data.loc[data['vote_average']>=data['vote_average'].quantile(0.99)]
data_26 = data_26.sort_values(by='vote_average', ascending=False)
answers['26'] = data_26['original_title']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [127]:
data_27 = data[['cast', 'original_title']].explode('cast')
data_27 = data_27.groupby(['cast'])['original_title'].aggfunc(lambda x: x)

AttributeError: 'SeriesGroupBy' object has no attribute 'aggfunc'

ВАРИАНТ 2

# Submission

In [102]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt1210819)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 599                                       The Dark Knight
 9                                              Inside Out
 34                                                   Room
 118                                          Interstellar
 125                                    The Imitation Game
 370                                             Inception
 1191                                     12 Years a Slave
 1183                              The Wolf of Wall Street
 1081        The Lord of the Rings: The Return of the King
 872                                           The Pianist
 1800                                              Memento
 119                               Guardians of the Galaxy
 138                              The Grand Budapest Hotel
 128                                             Gone Girl
 283                                            Mr. Nobody
 1688                                  There Will Be Blood
 1563                Eternal Sunshine of the Spotless Mind
 1444                                         The Prestige
 1213                                   Dallas Buyers Club
 1205                                            Prisoners
 124                                            Big Hero 6
 1188                                                  Her
 316                                              3 Idiots
 863                 The Lord of the Rings: The Two Towers
 155                              The Theory of Everything
 28                                              Spotlight
 177                                The Fault in Our Stars
 496     The Lord of the Rings: The Fellowship of the Ring
 Name: original_title, dtype: object}

In [103]:
# и убедиться что ни чего не пропустил)
len(answers)

26